@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --foreground: #eaeaea;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #ff4500;
    color: transparent;
  }
  .text-outline-white {
    -webkit-text-stroke: 1px #eaeaea;
    color: transparent;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background-color: #ff4500;
  color: #fff;
}
